{% extends 'partials/settings_menu.html.twig' %}

{% block settings_content %}
<header class="border-b">
    <h1 class="text-subtitle font-semibold mb-2">Général</h1>
    <p class="text-sm text-black max-md:max-w-full mb-8">
        Mettez à jour les informations générales de votre compte.
    </p>
</header>

<!-- Contenu spécifique à la section générale -->
{% endblock %}
