{% extends 'base.html.twig' %}

{% block title %}Smoothbill{% endblock %}

{% block body %}

<div class="text-4xl">
    <h1 class="text-slate-500">Welcome to Smoothbill Homepage !</h1>
</div>
{% endblock %}
