<footer class='w-fit mx-auto h-[60px] flex justify-center items-center'>
    <span class='font-semiboled'>&copy; {{ "now"|date('Y') }} Smoothbill -</span>
    <a href={{ path('site.legal_notice')}} class='text-primary underline'>{{ 'login.legal_notice'|trans }}</a>
</footer>