{# templates/site/reset_password/mail/reset_password.html.twig #}
<div style="font-family: Arial, sans-serif; color: #333;">
    <h1 style="font-weight: bold; font-size: 1.25rem; text-align: center; margin-bottom: 20px;">SMOOTHBILL</h1>
    <h2 style="font-weight: 600; color: #666;">Réinitialisation de votre mot de passe</h2>
    <p>
        Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
        <a style="display: block; width: fit-content; padding: 10px 16px; background-color: rgba(0, 123, 255, 0.2); margin: 40px 0; color: black; text-decoration: none;" href="{{ resetPasswordUrl }}">Réinitialiser mon mot de passe</a>
    </p>
    <p>Ce lien expirera dans une heure.</p>
    <p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet email.</p>
    <p style="margin-top: 40px;">L'équipe Smoothbill</p>
</div>
