{% extends 'base/base_site.html.twig' %}

{% block title %}Smoothbill - Design Guide{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <span class="text-md text-primary font-content font-semibold">Réalisé par la team Smoothbill</span>
        <h1 class="text-title font-title font-semibold">Design Guide - Charte Graphique et Composants</h1>
        <div>
            <span>TWIG</span>
            <span>TailwindCSS</span>
        </div>
    </div>
{% endblock %}
