{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Quotation - Edition{% endblock %}

{% block body %}
    <div class="bg-white drop-shadow-md p-10 rounded-md">
        {{ include('dashboard/quotation/_form.html.twig', {'button_label': 'crud.update'|trans }) }}
    
        <a href="{{ path('dashboard.quotation.index') }}">{{ 'crud.back_to_list'|trans }}</a>
    
        {{ include('dashboard/quotation/_delete_form.html.twig') }}
    </div>
{% endblock %}