{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Quotation - Edition{% endblock %}

{% block body %}
    <div>

        {{ include('dashboard/quotation/_form.html.twig', {'button_label': 'crud.update'|trans }) }}

    </div>
{% endblock %}