{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'quotation.new'|trans }}{% endblock %}

{% block body %}
    <div>
        {{ include('dashboard/quotation/_form.html.twig') }}
    </div>
{% endblock %}