{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'quotation.new'|trans }}{% endblock %}

{% block body %}

    <div>
        <h1 class="text-subtitle font-title font-semibold mb-3">Créer un devis</h1>
        {{ include('dashboard/quotation/_form.html.twig') }}
    </div>
    
{% endblock %}