{% extends 'base/base_site.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class='container mx-auto py-10'>
        <h1 class='text-title font-semibold font-title'>Mentions Légales</h1>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Identification de l'éditeur du site</h2>
            <p>
                <span class='font-semibold'>Nom de l'entreprise</span> : Smoothbill<br>
                <span class='font-semibold'>Forme juridique</span> : SAS<br>
                <span class='font-semibold'>Capital social</span> : 1 000 000 EUR<br>
                <span class='font-semibold'>Adresse</span> : 123 Rue Exemple, 75000 Paris, France<br>
                <span class='font-semibold'>Téléphone</span> : 01 23 45 67 89<br>
                <span class='font-semibold'>Email</span> : <a href="mailto:contact@entreprise.com" class='text-primary'>contact@smoothbill.com</a><br>
                <span class='font-semibold'>Numéro SIRET</span> : 123 456 789 00012<br>
                <span class='font-semibold'>Numéro de TVA intracommunautaire</span> : FR12345678901<br>
                <span class='font-semibold'>Directeur de la publication</span> : Saïdou IBRAHIM
            </p>
        </div>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Hébergeur du site</h2>
            <p>
                <span class='font-semibold'>Nom</span> : Amazon Web Service<br>
                <span class='font-semibold'>Adresse</span> : 410 Terry Avenue North, Seattle, WA<br>
                <span class='font-semibold'>Téléphone</span> : (206) 266-4064
            </p>
        </div>
        
         <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Propriété intellectuelle</h2>
            <p>
                Le site et chacun des éléments qui le composent sont protégés par la législation en vigueur sur la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.
            </p>
        </div>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Conditions d'utilisation</h2>
            <p>
                Les informations présentes sur ce site sont fournies à titre indicatif. L'éditeur ne peut être tenu responsable de l'exactitude, de l'exhaustivité ou de l'actualité des informations diffusées sur le site.
            </p>
        </div>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Protection des données personnelles</h2>
            <p>
                Conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978, modifiée, vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition aux données personnelles vous concernant. Pour exercer ce droit, vous pouvez nous contacter à l'adresse suivante : <span class='text-primary'>contact@smoothbill.com</span>.
            </p>
        </div>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Responsabilité</h2>
            <p>
                L'éditeur du site décline toute responsabilité quant aux erreurs ou omissions qui pourraient être présentes sur le site. L'utilisation des informations et contenus disponibles sur l'ensemble du site, ne saurait en aucun cas engager la responsabilité de l'éditeur.
            </p>
        </div>

        <div class='my-5'>
            <h2 class='text-subtitle font-subtitle font-semibold'>Droit applicable et attribution de juridiction</h2>
            <p>
                Le présent site est soumis au droit français. En cas de litige, les tribunaux français seront seuls compétents.
            </p>
        </div>
    </div>
{% endblock %}
