{# templates/site/registration/verification.html.twig #}

{% extends 'base/base_site.html.twig' %}

{% block title %}Lien de vérification expiré{% endblock %}

{% block body %}
    <section class="container mx-auto mt-20">
        <article class='w-full max-w-3xl mx-auto pb-10 bg-[#FEF9F9] drop-shadow-md'>
            <header class="flex flex-col gap-6 text-primary justify-center items-center bg-white py-8 shadow-sm mb-5">
                <h1 class="font-semibold text-5xl">Oops..</h1>
                <h2>Le lien de vérification est expiré.</h2>
            </header>
            <div class="p-4 text-center">
                <h3 class="mb-4 font-medium">Pas de panique !</h3>
                <p class="">Nous vous avons envoyé un nouveau lien de vérification à l'adresse renseigné lors de votre inscription.</p>
                <div class="mt-10 flex justify-center">
                    <twig:MenuItem href="https://mail.google.com/" additionalClasses="px-6 py-3 border border-primary rounded-full bg-transparent hover:bg-primary hover:text-white transition ease-in-out delay-75">{{ 'register.link_to_gmail'|trans }}</twig:MenuItem>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
