{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'service.new_title'|trans }}{% endblock %}

{% block body %}
    <div>

        {{ include('dashboard/service/_form.html.twig') }}

    </div>
{% endblock %}
