{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Entreprise{% endblock %}


{% block body %}
<div class="bg-white drop-shadow-md p-10 rounded-md my-auto">
    {{ include('dashboard/company/_form.html.twig', {'company': company}) }}
</div>
{% endblock %}
