{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Entreprise{% endblock %}


{% block body %}
    <h1>Create new Company</h1>

    {{ include('dashboard/company/_form.html.twig') }}

{% endblock %}
