<div style="font-family: Arial, sans-serif; color: #333;">
    <h1 style="font-weight: 600; color: #666;">Invitation à la collaboration</h1>
    <p>Le {{ user.email }} vous invite à collaborer à Smoothbill.</p>
    <p>Cliquez sur le bouton ci-dessous pour accepter l'invitation et rejoindre votre équipe.</p>
    <a style="display: block; width: fit-content; padding: 10px 16px; background-color: rgb(72, 88, 208); margin: 40px 0; color: black; text-decoration: none;" href="{{ inivteUrl|raw }}">Accepter l'invitation</a>
    <p>Ce lien expire dans <strong>24heures</strong>.</p>
    <p style="margin-top: 40px;">L'équipe Smoothbill</p>
</div>
