<form method="post" action="{{ path(deleteRoute, {'id': entity.id}) }}" onsubmit="return confirm(`{{ 'crud.delete_confirmation'|trans }}`);">
    <input 
        type="hidden" 
        name="_token" 
        value="{{ csrf_token('delete' ~ entity.id) }}"
    >
    <button 
        class="w-full"
    >
        {{ 'crud.delete'|trans }}
    </button>
</form>
