{# templates/dashboard/customer/new.html.twig #}

{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="bg-white drop-shadow-md p-10 rounded-md">

        {{ include('dashboard/customer/_form.html.twig') }}

    </div>
{% endblock %}
