{% props bg = 'outline', rounded = 'sm', additionalClasses = '' %}

{% set button = cva({
    base: 'button ',
    variants: {
        bg: {
            filled: 'bg-primary text-white',
            outline: 'bg-transparent',
        },
        rounded: {
            sm: 'rounded-small',
            half: 'rounded-half',
        }
    }
}) %}

<button {{ attributes.defaults({type:"button"}) }} class="px-6 py-2 border border-primary {{ button.apply({ bg, rounded }) }} {{ additionalClasses }}">
    {% block content %}
        Valider
    {% endblock %}
</button>
