{% props kpi_name = '', kpi_value = '', icon_name = null %}

<div class="w-80 h-34 bg-white rounded-lg shadow-md border border-gray-300">
    <div class="flex items-center h-20 px-3 border-b border-gray-300">
        <div class="bg-backgroundIcon rounded-lg h-12 w-16 flex justify-center items-center p-2.5">
            {% if icon_name %}
                {{ ux_icon(icon_name) }}
            {% endif %}
        </div>
        <div class="font-medium">{{ kpi_name }}</div>
    </div>
    <div class="py-2 px-3">
        <p class="text-3xl">{{ kpi_value }}</p>
    </div>
</div>
