{% props kpi_name = '', kpi_value = '', icon_name = null %}

<div class="bg-white rounded-lg border hover:border-primary/40 group">
    <div class="flex items-center py-2 px-3 border-b group-hover:border-b-primary/40 gap-4">
        <div class="bg-tertiary/10 rounded-lg h-12 w-12 flex justify-center items-center p-2 text-2xl text-primary">
            {% if icon_name %}
                {{ ux_icon(icon_name) }}
            {% endif %}
        </div>
        <div class="font-medium">{{ kpi_name }}</div>
    </div>
    <div class="py-2 px-3">
        <p class="text-3xl">{{ kpi_value }}</p>
    </div>
</div>
