<li class="menu-item">
    <a href="{{ href }}" class="flex items-center gap-2 p-2 rounded-md hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
        {% block content %}
        Valider
        {% endblock %}
    </a>
</li>