<div style="font-family: Arial, sans-serif; color: #333;">
    <h1 style="font-weight: bold; font-size: 1.25rem; text-center; margin-bottom: 20px;">SMOOTHBILL</h1>
    <h2 style="font-weight: 600; color: #666;">Bonjour {{ user.firstName }},</h2>
    <p>Pour profiter pleinement de nos services, veuillez vous rendre sur votre espace et remplir les informations de votre société.</p>
    <a style="display: block; width: fit-content; padding: 10px 16px; background-color: rgba(0, 123, 255, 0.2); margin: 40px 0; color: white; text-decoration: none;" href="https//:www.smoothbill.fr">Dashboard</a>

    <p style="margin-top: 40px;">Bienvenue à bord !</p>
    <p>L'équipe Smoothbill</p>
</div>
