{# templates/dashboard/user/invite.html.twig #}

{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Invite{% endblock %}

{% block body %}
    <div>
        {% for message in app.flashes('success') %}
            <div class="px-2 p-1 border border-primary bg-primary text-white rounded-md">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('dashboard/user/_invite_form.html.twig') }}
    </div>
{% endblock %}