{% extends 'base/base_site.html.twig' %}

{% block title %}Smoothbill{% endblock %}

{% block body %}

<div class="text-4xl">
    <h1 class="text-primary/90 font-title">Welcome to Smoothbill Homepage !</h1>
</div>
{% endblock %}